{{ template "layout" . }}

{{ define "title" }}Create Employee{{ end }}

{{ define "content" }}
<div class="d-flex justify-content-between mb-3">
    <h3 class="mb-0">Create Employee</h3>
</div>

<form action="/employees/store" method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Full name" required>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="Email address" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="tax_number" class="form-label">Tax Number</label>
                <input type="text" class="form-control" id="tax_number" name="tax_number" placeholder="Tax number" maxlength="20">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="gender" class="form-label">Gender</label>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="male" value="Male">
                        <label class="form-check-label" for="male">
                            Male
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="Female">
                        <label class="form-check-label" for="female">
                            Female
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="hired_date" class="form-label">Hired Date</label>
                <input type="date" class="form-control" id="hired_date" name="hired_date" placeholder="Hired date" maxlength="20">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <textarea class="form-control" id="address" name="address" rows="3" placeholder="Address" maxlength="300"></textarea>
    </div>
    <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        <select class="form-select" id="status" name="status" aria-label="Employee status">
            <option selected>Select status</option>
            <option value="PENDING">PENDING</option>
            <option value="ACTIVE">ACTIVE</option>
            <option value="INACTIVE">INACTIVE</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="status" class="form-label">Allowance</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Medical" name="allowances" id="allowance_medical">
            <label class="form-check-label" for="allowance_medical">
                Medical
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Transportation" name="allowances" id="allowance_transportation">
            <label class="form-check-label" for="allowance_transportation">
                Transportation
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Housing" name="allowances" id="allowance_housing">
            <label class="form-check-label" for="allowance_housing">
                Housing
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Education" name="allowances" id="allowance_education">
            <label class="form-check-label" for="allowance_education">
                Education
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Childcare" name="allowances" id="allowance_childcare">
            <label class="form-check-label" for="allowance_childcare">
                Childcare
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Entertainment" name="allowances" id="allowance_entertainment">
            <label class="form-check-label" for="allowance_entertainment">
                Entertainment
            </label>
        </div>
    </div>
    <div class="mb-3 text-end">
        <button type="submit" class="btn btn-primary">Create Employee</button>
    </div>
</form>
{{ end }}