{{ template "layout" . }}

{{ define "title" }}Employees{{ end }}

{{ define "content" }}
<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h4 class="mb-0 fw-semibold">Employees</h4>
        <p class="mb-0">List of employees</p>
    </div>
    <a href="/employees/create" class="btn btn-success">
        Create Employee <i class="mdi mdi-plus-circle-outline ms-1"></i>
    </a>
</div>

<table class="table table-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Tax Number</th>
            <th>Hired Date</th>
            <th>Status</th>
            <th>Allowance</th>
            <th class="text-md-end">Action</th>
        </tr>
    </thead>
    <tbody>
        {{ range $i, $employee := .employees }}
            <tr>
                <td>{{ add $i 1 }}</td>
                <td>{{ $employee.Name }}</td>
                <td>{{ default $employee.Email.String "-" }}</td>
                <td>{{ default $employee.Gender.String "-" }}</td>
                <td>{{ default $employee.TaxNumber.String "-" }}</td>
                <td>{{ formatDate $employee.HiredDate "02 January 2006" "-" }}</td>
                <td>
                    {{ if $employee.Status.Valid }}
                        <span class="badge 
                            {{ if eq $employee.Status.String "PENDING" }} text-bg-secondary
                            {{ else if eq $employee.Status.String "ACTIVE" }} text-bg-success
                            {{ else if eq $employee.Status.String "INACTIVE" }} text-bg-danger
                            {{ else }} text-bg-dark
                            {{ end }}">
                            {{ $employee.Status.String }}
                        </span>
                    {{ else }}
                        <span class="badge text-bg-dark">
                            UNKNOWN
                        </span>
                    {{ end }}
                </td>
                <td>{{ $employee.TotalAllowance }} items</td>
                <td class="text-md-end">
                    <div class="dropdown">
                        <a class="btn btn-primary btn-sm dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Action
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" href="/employees/{{ $employee.Id }}">
                                    <i class="mdi mdi-eye-outline me-2"></i> View
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/employees/{{ $employee.Id }}/edit">
                                    <i class="mdi mdi-square-edit-outline me-2"></i> Edit
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <button type="button" class="dropdown-item btn-delete"
                                    data-url="/employees/{{ $employee.Id }}"
                                    data-label="{{ $employee.Name }}">
                                    <i class="mdi mdi-trash-can-outline me-2"></i> Delete
                                </button>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {{ end }}
    </tbody>
</table>

{{ template "modal_delete" . }}

<script>
document.addEventListener("DOMContentLoaded", function () {
    let deleteModal = new bootstrap.Modal(document.getElementById('modal-delete'));
    let deleteForm = document.getElementById('delete-from');
    let deleteLabel = document.querySelector('.delete-label');
console.log('d')
    document.querySelectorAll('.btn-delete').forEach(button => {
        button.addEventListener('click', function () {
console.log('a')
            let url = this.dataset.url;
            let label = this.dataset.label;

            deleteForm.action = url;
            deleteLabel.textContent = label;

            deleteModal.show();
        });
    });

});
</script>

{{ end }}