{{ template "layout" . }}

{{ define "title" }}View Employee{{ end }}

{{ define "content" }}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="mb-0">View Employee</h3>
    <a href="/employees/{{ .employee.Id }}/edit" class="btn btn-warning">Edit Employee</a>
</div>

<ul>
    <li>
        <strong>Name:</strong> {{ .employee.Name }}
    </li>
    <li>
        <strong>Email:</strong> {{ default .employee.Email.String "-" }}
    </li>
    <li>
        <strong>Tax Number:</strong> {{ default .employee.TaxNumber.String "-" }}
    </li>
    <li>
        <strong>Gender:</strong> {{ default .employee.Gender.String "-" }}
    </li>
    <li>
        <strong>Status:</strong> {{ default .employee.Status.String "-" }}
    </li>
    <li>
        <strong>Hired Date:</strong> {{ formatDate .employee.HiredDate "02 January 2006" "-" }}
    </li>
    <li>
        <strong>Address:</strong> {{ default .employee.Address.String "-" }}
    </li>
    <li>
        <strong>Allowances:</strong>
        <ul>
            {{ range .employeeAllowances }}
                <li>{{ .Allowance }}</li>
            {{ end }}
        </ul>
    </li>
</ul>
{{ end }}