{{ template "layout" . }}

{{ define "title" }}View Employee{{ end }}

{{ define "content" }}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="mb-0">View Employee</h3>
    <a href="/employees/{{ .employee.Id }}/edit" class="btn btn-warning">Edit Employee</a>
</div>

<ul>
    <li>
        <strong>Name:</strong> {{ .employee.Name }}
    </li>
    <li>
        <strong>Email:</strong> {{ .employee.Email }}
    </li>
    <li>
        <strong>Tax Number:</strong> {{ .employee.TaxNumber }}
    </li>
    <li>
        <strong>Gender:</strong> {{ .employee.Gender }}
    </li>
    <li>
        <strong>Status:</strong> {{ .employee.Status }}
    </li>
    <li>
        <strong>Hired Date:</strong> {{ .employee.HiredDate }}
    </li>
    <li>
        <strong>Address:</strong> {{ .employee.Address }}
    </li>
    <li>
        <strong>Allowances:</strong>
        <ul>
            {{ range .employeeAllowances }}
                <li>{{ .Allowance }}</li>
            {{ end }}
        </ul>
    </li>
</ul>
{{ end }}