{{ define "modal_delete" }}
<div class="modal" tabindex="-1" id="modal-delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="#" method="post" id="delete-from">
                <input type="hidden" name="_method" value="DELETE">
                <div class="modal-header">
                    <h5 class="modal-title">Delete <span class="delete-title"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-0">Are you sure want to delete <strong class="delete-label"></strong>?</p>
                    <small class="text-muted">
                        All related data will be deleted and this action might be irreversible.
                    </small>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" data-toggle="one-touch">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{ end }}